<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <style>
        #map {
            height: 500px;
        }
    </style>
</head>

<body>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>

    <script>
        var map = L.map('map').setView([51.5074, -0.1278], 6);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '© OpenStreetMap contributors'
        }).addTo(map);

        var markers = L.markerClusterGroup();

        {% for location in locations %}
            var marker = L.marker([{{ location.Latitude }}, {{ location.Longitude }}])
                .bindPopup("{{ location.Location }}")
                .addTo(markers);
        {% endfor %}

        map.addLayer(markers);

          var backButton = L.control({position: 'topleft'});
        backButton.onAdd = function(map) {
            var div = L.DomUtil.create('div', 'back-to-home-button');
            div.innerHTML = '<a href="/">Back to Homepage</a>';
            return div;
        };
        backButton.addTo(map);
    </script>
</body>

</html>